body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control2
{
  
  width: 1280px;
}

/* 
 body
{
  background-color: black;

}

h1, h2,p
{
  color: white;
}



.Pre
{
  border: 2px solid white;
  height: 275px;
  width: 1280px;
  border-radius: 7px;
}

.text
{
  margin-left: 7px;
}

.d-flex
{
  color: white;
}  */